modules = ["java-graalvm22.3"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["gradle", "android-tools"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Android Project"

[[workflows.workflow]]
name = "Android Project"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd android && gradle clean"

[workflows.workflow.metadata]
outputType = "console"
